{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}


{% block body %}
    <div class="col-md-6 m-auto">
        {% if cat %}
             <ul class="list-group">
              <a href="{% url 'home' %}" class="list-group-item">All</a>
        {% for c in cat %}
  <a href="{% url 'category' c.id %}" class="list-group-item">{{c.cty}}</a>
        {% endfor %}
            </ul>
        {% endif %}
            {% for d in data %}
            <div class="card m-3">
                <img src="{{d.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{d.title}}</h5>
                    <p class="card-text">{{d.summary|truncatewords:15}}</p>
                    <a href="{% url 'full_post' d.id%}" class="card-link">Read more</a>
                </div>
            </div>
                {% endfor %}
           </div>

    {% endblock body %}
