{% extends 'base.html' %}
{% load static %}


{% block title %}HOme{% endblock title %}

{% block contactactive %}active {% endblock contactactive %}
{% block body %}
  <div class="container">
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

{{user_form.as_p}}
{{detail_form.as_p}}
          <input type="submit" class="btn btn-primary mb-5" value="Singup">
          <a class="btn btn-success mb-5" href="{% url 'singin' %}">Login</a>
      </form>
</div>
{% endblock body %}